<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
        <title>File Server</title>
        <script>
  (function () {
    function isMobileDevice() {
      return /Mobile|Android|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
    }

    if (isMobileDevice()) {
      window.location.replace("/mobile");  // Use replace to avoid adding to history
    }
  })();
</script>
    </head>
    <body>
    <div id="toolbar">
            <div id="folder-options">
                <form id="upload-form" enctype="multipart/form-data">
                    <input type="file" id="file-input" name="file">
                    <button id="upload-btn" type="button">Upload</button>
                </form>
                <div id="download-parent">
                <button id="download" type="submit" onclick="downloadPath()">Download</button>
                </div>
                <button onclick="location.href='/logout'" id="logout-btn">Logout</button>
                <button onclick="renameFolder()">Rename Folder</button>
                <button onclick="createFolder()">Create Folder</button>
            </div>
            <div id="file-options">
                <button onclick="downloadFile()" id="download-btn">Download File</button>
                <button onclick="deleteFile()" id="delete-btn">Delete File</button>
                <button onclick="renameFile()" id="rename-btn">Rename</button>
            </div>
        </div>
        <div id="path">
            <h3 id="path-h3"></h3>
        </div>
        <div id="sidebar">
            <h2>Folders</h2>
            <div id="folder-list">
                <!-- Folder list will be populated here -->
            </div>
        </div>
        <div id="folder-parent">
            <!-- File/folder tree will be rendered here -->
        </div>
        <div id="pre-parent">
            <div id="pre-close">
                <button id="pre-close-btn" onclick="document.getElementById('pre-parent').style.display='none'; document.exitFullscreen(); document.getElementById('preview').style.height = '90%';document.getElementById('preview').style.width = '100%'; showFolderOptions()">Close</button>
                <button onclick="toggleFullScreen()">Full Screen</button>
            </div>
            <div id="preview">

            </div>
        </div>
        <div id="download-link" style="display:none;"></div>
    </body>
</html>
<script src="https://cdn.jsdelivr.net/npm/aes-js@3.1.2/index.min.js"></script>
<script src="{{url_for('static', filename='script.js')}}"></script>